footer
    .footer
        .container
            .wrapper__footer
                .footer__col
                    .footer__logo
                        a(href="../index.html").header__logo 
                            img(src="../img/logo.png", alt="", srcset="")
                            div Waxom
                    .footer__descr
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.

                    a.footer__link Read more
                .footer__col
                    .footer__descr
                        h4.footer__col-title Recent Posts
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        p Diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                        p Claritas est etiam processus dynamicus, qui sequitur mutationem per seacula quarta decima
                .footer__col
                    .footer__descr
                        h4.footer__col-title Our Twitter
                        p @waxom Cum soluta nobis eleifend option congue nihil imperdiet doming
                        p Mirum est #envato notare quam littera gothica, quam nunc putamus parum anteposuerit litterarum
                        p Soluta nobis option bit.ly/1Hniso7
                .footer__col
                    h4.footer__col-title Dribbble Widget
                    .footer__widget
                        .footer__widget-img
                            img(src="img/footer/bg_photo_8842.png", alt="alt")
                        .footer__widget-img
                            img(src="img/footer/bg_photo_9778.png", alt="alt")
                        .footer__widget-img
                            img(src="img/footer/bg_photo_9781.png", alt="alt")
                        .footer__widget-img
                            img(src="img/footer/bg_photo_9784.png", alt="alt")