header
    .container
        .wrapper_header
            a(href="../index.html").header__logo 
                img(src="../img/logo.png", alt="", srcset="")
                div Waxom
            .header__burger
                span
            nav.header__navbar
                ul.header__list
                    li
                        a.header__link(href="../index.html") Home
                    li
                        a.header__link(href="../about.html") About us
                    li
                        a.header__link(href="../projects.html") Portfolio
                    li
                        a.header__link(href="../features.html") Features
                    li
                        a.header__link(href="../blog.html") Blog
                    li
                        a.header__link(href="../pricing.html") Pricing
                    li
                        a.header__link(href="../shortcodes.html") Shortcodes
                    li
                        a.header__link(href="../contact.html") Contact
            a.header__icon
                img(src="../img/icons/icon-search.png", alt="", srcset="")
            a.header__icon
                img(src="../img/icons/icon-cart.png", alt="", srcset="")